@use "sass:map";
@import "./variable";
@import "./filter";


.sassTrackerWaitForCss{
    display: none;
}

body {
    $primary_Color : green; //local scope
    background-color: $primary_Color;
}

header {
    @extend body;
    // background-color: map.get($theme-color, "fail");
    color: var(--color);
    width: $myheaderwidth;
}

$prod : "Product";

.#{$prod}_toggle{
    font-size: 10px;
}

.market{
    height: 100px;

    .marketSelected{
        background-color: green;
    }
}

@function Sample($color){
    $lightercolor : lighten($color, 10%);
    @return $lightercolor;
  };
  
  .fun{
    background-color: Sample(blue);
  }

@include filterClasses("Balaji");
@include filterClasses("Sudhakar");
@include filterClasses("Thiru");

$fil: "Dinesh", "Naga";
@each $val in $fil{
    @include filterClasses($val);
}
